body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header{
  width: 100%;
  line-height: 35px;
  background-color: rgb(233, 150, 25);
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}
.in{
  width: 50%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.in input{
  margin: 30px 0;
  padding: 5px 10px;
  border-radius:5px ;
  


}
.in button{
  width: 25%;
  margin: 0 auto;
  border-radius: 23px;
}

.dis{
  width: 50%;
  height: auto;
  margin: auto;
}
.dis button{
  margin: 2px 80px;
}